---
- hosts: all
  user: vagrant
  vars:
  vars_prompt:
    - name: "ssh_passphrase"
      prompt: "Enter passphrase"
      private: yes
      encrypt: "sha256_crypt"
      confirm: yes
      salt_size: 12
  pre_tasks:
    # Only run "update_cache=yes" if the last one is more than more than 3600 seconds ago. And pass options to dpkg on run
    - name: update repo
      sudo: yes
      apt: upgrade=dist update_cache=yes cache_valid_time=3600 dpkg_options='force-confold,force-confdef'
  roles:
    - { role: ssh }
    - { role: ssh_keygen }
    - { role: sudoers }
    - { role: dotfiles }
    - role: gitconfig
      with_items:
        - { name: "git.user", value: "John Smith" }
        - { name: "git.email", value: "jsmith@example.com" }
  tasks:
    # install packages
    - name: install packages
      sudo: yes
      apt: pkg={{ item }}
      with_items:
        - ssh
  post_tasks:
